binary "https://trimblemaps.jfrog.io/artifactory/carthage/RoutePlugin.json" == 2.0.0
binary "https://trimblemaps.jfrog.io/artifactory/carthage/SearchUIPlugin.json" == 2.0.0
binary "https://trimblemaps.jfrog.io/artifactory/carthage/TrimbleMapsAccounts.json" == 2.0.0
binary "https://trimblemaps.jfrog.io/artifactory/carthage/TrimbleMapsMultiplatformUI.json" == 1.2.0
binary "https://trimblemaps.jfrog.io/artifactory/carthage/TrimbleMaps.json" == 2.0.0
binary "https://trimblemaps.jfrog.io/artifactory/carthage/TrimbleMapsWebservicesClient.json" == 2.0.0
binary "https://trimblemaps.jfrog.io/artifactory/carthage/Turf.json" == 1.0.0
binary "https://trimblemaps.jfrog.io/artifactory/carthage/TrimbleMapsMobileEvents.json" == 1.0.0
binary "https://trimblemaps.jfrog.io/artifactory/carthage/TrimbleMapsCoreNavigation.json" == 2.0.0
binary "https://trimblemaps.jfrog.io/artifactory/carthage/TrimbleMapsNavigation.json" == 2.0.0
binary "https://trimblemaps.jfrog.io/artifactory/carthage/TrimbleMapsNavigationNative.json" == 2.0.0
github "raphaelmor/Polyline" ~> 5.1
github "ceeK/Solar" ~> 3.0
binary "https://trimblemaps.jfrog.io/artifactory/carthage/RoutingProfilesPlugin.json" == 2.0.0
github "auth0/JWTDecode.swift" == 3.0.1
