node_modules
.yarn/*
!.yarn/releases
local-dependencies.json
.env
trimble.config.local.js
**/TrimbleMapsSecrets.plist
*.log
.DS_Store

apps/documentation-sdk/android/.gradle
apps/documentation-sdk/android/build
apps/documentation-sdk/android/app/build
apps/documentation-sdk/android/app/.cxx
apps/documentation-sdk/ios/Pods
**/.xcode.env.local
apps/documentation-sdk/ios/build
apps/*/ios/build-device
apps/documentation-sdk/Carthage
apps/documentation-sdk/Cartfile.resolved
