<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.trimblemaps.mapssdkexampleskotlin">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/trimble_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/trimble_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.MapsSDKExamplesKotlin"
        tools:targetApi="31">
        <activity
            android:name=".SampleBasicMapActivity"
            android:exported="false" />
        <activity
            android:name=".SampleDataDrivenStylingActivity"
            android:exported="false" />
        <activity
            android:name=".SampleDotsOnAMapActivity"
            android:exported="false" />
        <activity
            android:name=".SampleGeocodingActivity"
            android:exported="false" />
        <activity
            android:name=".SampleLinesOnAMapActivity"
            android:exported="false" />
        <activity
            android:name=".SampleRoutingActivity"
            android:exported="false" />
        <activity
            android:name=".SampleFollowMeActivity"
            android:exported="false" />
        <activity
            android:name=".SampleTrimbleLayersActivity"
            android:exported="false" />
        <activity
            android:name=".SampleChangeStylesActivity"
            android:exported="false" />
        <activity
            android:name=".SampleHighlightBuildingActivity"
            android:exported="false" />
        <activity
            android:name=".Sample3DBuildingsActivity"
            android:exported="false" />
        <activity
            android:name=".SampleAnimateAroundActivity"
            android:exported="false" />
        <activity
            android:name=".SampleAnimatedCameraActivity"
            android:exported="false" />
        <activity
            android:name=".SampleIconsOnMapActivity"
            android:exported="false" />
        <activity
            android:name=".SampleRegionalMapActivity"
            android:exported="false" />
        <activity
            android:name=".SampleHighlightFeaturesAfterPanningActivity"
            android:exported="false" />
        <activity
            android:name=".SampleRestrictUserInteractionActivity"
            android:exported="false" />
        <activity
            android:name=".SampleFramingActivity"
            android:exported="false" />
        <activity
            android:name=".SampleClickablePointsActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="MainActivity" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>