<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="false" />
  </solution>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="Trimble MAPS Public Packages" value="https://trimblemaps.jfrog.io/artifactory/api/nuget/v3/xamarin/" />
    <add key="Trimble MAPS Internal Packages" value="https://pri-dev-data04.alk.com/artifactory/api/nuget/v3/roslyn-builds/" />
  </packageSources>
</configuration>